body{
    background-image: url(./assets/img/body_bg.png);
    background-color: #1b232b;
    background-repeat: no-repeat;
}
@media (min-width: 1200px){
    .container {
        width: 1020px;
    }
}

.headWrap{
    margin: 70px 0 52px 0;
    background-color: rgba(252, 252, 252, 0.02);
    border-radius: 10px;
    border: 1px solid #2b3b45;
    padding: 16px;
    .customSelect{
        .single-select-wrapper{
            margin: 4px 0 0 0;
        }
    }
    h1{
        margin: 0;
        line-height: 54px;
        font-size: 32px;
        line-height: 62px;
        @media (max-width: 767px) {
            font-size: 18px;
            margin-bottom: 15px;
        }  
    }
}
.percentage{
    position: relative;
    width: 41px;
    height: 15px;
    margin: 0;
    cursor: pointer;
    &:before,
    &:after{
        position: absolute;
        cursor: pointer;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        background-color: #c4c4c4;
        border-radius: 8px;
        -webkit-box-shadow: inset 1.4px 2.7px 7px rgba(27, 36, 40, 0.56);
                box-shadow: inset 1.4px 2.7px 7px rgba(27, 36, 40, 0.56);
    }
    &:after{
        content: '';
        background-image: url(./assets/img/ellipse.png);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        right: -2px;
        top: 50%;
        margin-top: -12px;
    }
}
input{
    &::-ms-clear {
        display: none;
     }
    &.percentageInput{
        opacity: 0;
        &:checked{ 
            +label{
                &:before{
                    background-color: #3eb5f1;
                }
                &:after{
                    right: calc(100% - 24px);
                }
            }  
        }
    }
}
.fontRoboto{
    font-family: 'Roboto', sans-serif;
}
.whiteText{
    color: #fff;
}
.boldWeight{
    font-weight: 700;
}
.mediumWeight{
    font-weight: 500;
}
.lightWeight{
    font-weight: 300;
}
.smallText{
    font-size: 14px;
    line-height: 14px;
    text-transform: capitalize
}
.mediumText{
    font-size: 16px;
    line-height: 16px;
}
.greyText{
    color: rgba(255,255,255,.2);
}
.greenText{
    color: #70c446;
    &.red{
        color: #c80e24; 
    }
}
.coinInner{
    max-width: 310px;
    margin: 0 auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    &.Etherium{
        background-color: #2a3f27;
        background-image: url(./assets/img/eth_bg.png);
    }
    &.Litecoin{
        background-color: #333;
        background-image: url(./assets/img/lite_bg.png);
    }
    &.Bitecoin{
        background-color: #301103;
        background-image: url(./assets/img/bite_bg.png);
    }
    .coinHead{
        padding: 22px 0 16px 0;
        margin: 0;
        font-size: 22px;
        line-height: 22px;
    }
    .imgWrap{
        margin-bottom: 12px;
    }
    table{
        width: calc(100% - 60px);
        margin: 0 auto;
        @media (min-width: 768px) AND (max-width: 991px) {
            width: calc(100% - 30px);
        }
        td{
            padding-bottom: 8px;
            &.percentText{
                padding-bottom: 12px;
            }
            &.priceText{
                font-size: 20px;
            }
            &.price{
                font-size: 21px;
                line-height: 21px;
            }
            &.priceText,
            &.price{
                padding-bottom: 16px;
            }
        }
        tr{
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9){
                display: none;
            }
            &:nth-child(6){
                td{
                    padding-bottom: 20px;
                }
            }
        }
    }
}
.customSelect{
    margin-bottom: 0;
    .single-select-wrapper{
        margin: 0;
    }
    ul{
        &.dropdown{
            margin-top: 9px;
            background-color: transparent;
            border: 1px solid #92e8fe;
            padding: 6px 0;
            li{
                text-align: left;
                padding: 8px 15px;
                background-color: transparent;
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
    .icons{
        svg{
            fill: #92e8fe;
        }
    }
    ul.dropdown li,
    input.search-input{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
    }
    input{
        outline: none;
        &.search-input{
            color: #fff;
            height: 54px;
            background-color: transparent;
            border: 1px solid #92e8fe;
            border-radius: 5px;
            &::-webkit-input-placeholder{
                color: #fff;
            } 
            &::-moz-placeholder {
                color: #fff;
                opacity:  1;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #fff;
                opacity:  1;  
            }
            &:-ms-input-placeholder {  
                color: #fff;  
            } 
        }
    }
}