<template>
    <div class="col-sm-4 col-xs-12" :name="name"
                                    :currencies="currencies"
                                    :options="options"
                                    :selectedCurrency="selectedCurrency"
    >
        <div class="coinInner" :class="name">
            <h2 class="fontRoboto text-center whiteText coinHead boldWeight">{{name}}</h2>
            <div class="text-center imgWrap">
                <img :src="imgSrc" alt="">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tr>
                            <td class="whiteText boldWeight fontRoboto priceText">Price:</td>
                            <td class="whiteText boldWeight fontRoboto text-right price">{{currencies[currencyCounter]}}{{price}}</td>
                        </tr>
                        <tr>
                            <td class="whiteText boldWeight fontRoboto percentText">Percent change</td>
                            <td class="text-right percentText">
                                <input type="checkbox" :name="name" :id="name" class="percentageInput" @click="changeTo" :checked="isPercent"/>
                                <label :for="name" class="percentage">
                                </label>
                            </td>
                        </tr>
                        <template v-if="currentPercent">
                            <tr v-for="(item, index, key) in listPercent" :key="key">
                                <td class="smallText greyText boldWeight">{{index}} change</td>
                                <td :class="isMinus(item)" class="text-right mediumText greenText boldWeight">{{item}} {{listText}}</td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr  v-for="(item, index, key) in listPrice" :key="key">
                                <td class="smallText greyText boldWeight">{{index}} change</td>
                                <td :class="isMinus(item)" class="text-right mediumText greenText boldWeight">{{item}} {{listText}}</td>
                            </tr>
                        </template>
                    </table>
                </div>
            </div>  
        </div>        
    </div>
</template>
<script>

export default {
    props:{
        name: String,
        currencies: Array,
        options: Array,
        selectedCurrency: String
    },
    data () {
        return {
            //ethUsd:{},
            //ethEur:{},
            //ethRub:{},
            //ethGbp:{},
            //list: [],
            //listCounter:0,
            currencyCounter:0,
            currentPercent:true,
            listText: '%',
            imgSrc: "./src/assets/img/"+ this.name + ".png",
            isPercent: true,
            price: '',
            listPercent:{},
            listPrice:{}
        }
    },
    methods:{
        changeTo(){
            if(!this.isPercent){
                this.listText = '%'
                this.currentPercent = true
                this.isPercent = true
            }else{
                this.listText = this.currencies[this.currencyCounter]
                this.currentPercent = false
                this.isPercent = false
            }
        },
        isMinus(item){
            if(item < 0){
                return 'red';
            }
        }
    },
    watch: {
        // эта функция запускается при любом изменении вопроса
        selectedCurrency: function () {
            if(this.selectedCurrency == 'EUR'){
                this.axios.get('https://apiv2.bitcoinaverage.com/indices/global/ticker/ETHEUR')
                .then(response => {
                    //this.ethEur = response.data
                    this.price = response.data.last
                    this.listPercent = response.data.changes.percent
                    this.listPrice = response.data.changes.price
                    //this.list.splice(1,1,this.ethEur)
                    //this.listCounter = 1
                    this.currencyCounter = this.options.indexOf(this.selectedCurrency)
                    if(this.isPercent){
                        this.listText == '%'
                    }else{
                        this.listText = this.currencies[this.currencyCounter]
                    } 
                })
                .catch(e => {
                    console.log(e);
                })
            }else if(this.selectedCurrency == 'RUB'){
                this.axios.get('https://apiv2.bitcoinaverage.com/indices/global/ticker/ETHRUB')
                .then(response => {
                    //this.ethRub = response.data
                    this.price = response.data.last
                    this.listPercent = response.data.changes.percent
                    this.listPrice = response.data.changes.price
                    //this.list.splice(1,1,this.ethRub)
                    //this.listCounter = 1
                    this.currencyCounter = this.options.indexOf(this.selectedCurrency)
                    if(this.isPercent){
                        this.listText == '%'
                    }else{
                        this.listText = this.currencies[this.currencyCounter]
                    }  
                })
                .catch(e => {
                    console.log(e);
                })
            }else if(this.selectedCurrency == 'GBP'){
                this.axios.get('https://apiv2.bitcoinaverage.com/indices/global/ticker/ETHGBP')
                .then(response => {
                    //this.ethGbp = response.data
                    this.price = response.data.last
                    this.listPercent = response.data.changes.percent
                    this.listPrice = response.data.changes.price
                    //this.list.splice(1,1,this.ethGbp)
                    //this.listCounter = 1
                    this.currencyCounter = this.options.indexOf(this.selectedCurrency)
                    if(this.isPercent){
                        this.listText == '%'
                    }else{
                        this.listText = this.currencies[this.currencyCounter]
                    } 
                })
                .catch(e => {
                    console.log(e);
                })
            }
            else{
                this.axios.get('https://apiv2.bitcoinaverage.com/indices/global/ticker/ETHUSD')
                .then(response => {
                    //this.ethUsd = response.data
                    //this.list.push(this.ethUsd)
                    this.price = response.data.last
                    this.listPercent = response.data.changes.percent
                    this.listPrice = response.data.changes.price
                })
                .catch(e => {
                    console.log(e);
                })
                this.currencyCounter = 0
                if(this.isPercent){
                    this.listText == '%'
                }else{
                    this.listText = this.currencies[this.currencyCounter]
                }  
            }
        }
    },
    created(){
        this.axios.get('https://apiv2.bitcoinaverage.com/indices/global/ticker/ETHUSD')
        .then(response => {
            //this.ethUsd = response.data
            //this.list.push(this.ethUsd)
            this.price = response.data.last
            this.listPercent = response.data.changes.percent
            this.listPrice = response.data.changes.price
        })
        .catch(e => {
            console.log(e);
        })
    }
}
</script>
<style>
</style>

