<template>
    <div :options="options">
        <select name="" id="" @change="$emit('load', options[currentCurrency])" v-model="currentCurrency">
            <option :value="index" 
                    v-for="(item, index, key) in options" :key="key" 
            >
                {{item}}
            </option>
        </select>    
    </div>
</template>
<script>
export default {
    props:{
        options: Array
    },
    data(){
        return{
            currentCurrency:''
        }
    }
}
</script>
<style>
</style>

