<template>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<div class="row headWrap">
						<div class="col-xs-12 col-sm-8">
							<h1 class="fontRoboto whiteText mediumWeight">
								{{selectText}}
							</h1>
						</div>
						<div class="col-xs-12 col-sm-4">
							<vue-single-select
									:options="options"
									:required="false"
									:searchable="false"
									v-model="selectedCurrency"
									placeholder="USD"
									class="customSelect"
							></vue-single-select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<app-etherium   :name="names[0]"
								:currencies="currencies"
								:options="options"
								:selectedCurrency="selectedCurrency"
				></app-etherium>
				<app-litecoin   :name="names[1]"
								:currencies="currencies"
								:options="options"
								:selectedCurrency="selectedCurrency"
				></app-litecoin>
				<app-bitecoin   :name="names[2]"
								:currencies="currencies"
								:options="options"
								:selectedCurrency="selectedCurrency"
				></app-bitecoin>
			</div>
		</div>
	</div>
</template>

<script>
import appEtherium from './components/Etherium.vue'
import appLitecoin from './components/Litecoin.vue'
import appBitecoin from './components/Bitecoin.vue'
import VueSingleSelect from "vue-single-select";

export default {
	name: 'app',
	data () {
		return {
			selectedCurrency: '',
			eur:[],
			rub:[],
			gbp:[],
			money:[],
			selectText: 'Select currency to exhange:',
			names:[
				'Etherium',
				'Litecoin',
				'Bitecoin'
			],
			options: [
				'USD',
				'EUR',
				'RUB',
				'GBP'
			],
			currencies:[
				'$',
				'€',
				'₽',
				'£'
			]
		}
	},
	components:{
		VueSingleSelect,
		appEtherium,
		appLitecoin,
		appBitecoin
	}
}
</script>

<style lang="scss">
@import '../node_modules/bootstrap3/dist/css/bootstrap.css'; //нужно удалить @font-family
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
@import './assets/scss/main';
</style>
